# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [429]:
#%pip install webdriver-manager

In [430]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By


import time   # para manejar tiempo

import pandas as pd

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [431]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [432]:
PATH=ChromeDriverManager().install()

In [433]:
driver = webdriver.Chrome(PATH,options = opciones)

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [434]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'
driver.get(url)
time.sleep(2)

Aquí tengo el primero

In [435]:
#your code
nombre = driver.find_element(By.XPATH, '//*[@id="pa-wader"]').text.split('\n')[1]
usuario = driver.find_element(By.XPATH, '//*[@id="pa-wader"]').text.split('\n')[2]

print(nombre,f'({usuario})')

Mattias Wadman (wader)

In [436]:
names = driver.find_elements(By.CLASS_NAME, "h3.lh-condensed")
username = driver.find_elements(By.CLASS_NAME, "Link--secondary")

devep = []
user = []

for n in names:
    devep.append(n.text)

devep

['Mattias Wadman',
 'lllyasviel',
 'Lianmin Zheng',
 'Jerry Liu',
 'Henrik Rydgård',
 'Harrison Chase',
 'Fons van der Plas',
 'Steven Tey',
 'Andreas Thomas',
 'pilcrowOnPaper',
 'Laurent Mazare',
 'yetone',
 'Tom Payne',
 'Raphaël Benitte',
 'Dillon Nys',
 'Will McGugan',
 'Luca Palmieri',
 'Payton Swick',
 'Martí Climent',
 'dgtlmoon',
 'Jelle Zijlstra',
 'J. Nick Koston',
 'Nuno Campos',
 'Juliette',
 'Lee Robinson']

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [437]:
#your code

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [438]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [439]:
#your code
driver.get(url)
time.sleep(2)

In [440]:
rep = driver.find_elements(By.CLASS_NAME, "h3.lh-condensed")

reps = []

for r in rep:
    reps.append(r.text)

reps

['mlc-ai / mlc-llm',
 'AIGC-Audio / AudioGPT',
 'gventuri / pandas-ai',
 'xtekky / gpt4free',
 'irgolic / AutoPR',
 'lamini-ai / lamini',
 'deep-floyd / IF',
 'deforum-art / deforum-stable-diffusion',
 'home-assistant / core',
 'cirediatpl / FigmaChain',
 'IntelligenzaArtificiale / Free-AUTO-GPT-with-NO-API',
 'mlc-ai / web-llm',
 'AUTOMATIC1111 / stable-diffusion-webui',
 'ddPn08 / Radiata',
 'deforum-art / deforum-for-automatic1111-webui',
 'ZrrSkywalker / LLaMA-Adapter',
 'yt-dlp / yt-dlp',
 'nlpxucan / WizardLM',
 'GitHubDaily / ChatGPT-Prompt-Engineering-for-Developers-in-Chinese',
 'georgia-tech-db / eva',
 'xtekky / chatgpt-clone',
 'mahdibland / V2RayAggregator',
 'KurtBestor / Hitomi-Downloader',
 'jaywalnut310 / vits',
 'isaiahbjork / Auto-GPT-Crypto-Plugin']

#### Display all the image links from Walt Disney wikipedia page

In [441]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [442]:
#your code
driver.get(url)
time.sleep(2)

In [443]:
img = driver.find_elements(By.CLASS_NAME, 'image')

imgs = []

for i in img:
    imgs.append(i.get_attribute('href'))

imgs

['https://www.wikilovesearth.es/',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_1946.JPG',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_1942_signature.svg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 'https://en.wikipedia.org/wiki/File:Trolley_Troubles_poster.jpg',
 'https://en.wikipedia.org/wiki/File:Steamboat-willie.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_1935.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 'https://en.wikipedia.org/wiki/File:Disney_drawing_goofy.jpg',
 'https://en.wikipedia.org/wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_disney_portrait_right.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_Grave.JPG',
 'https://en.wikipedia.org/wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://en.wikipedia.org/wiki/File:DisneySchiphol1951.jpg',
 'https://en.wikipedia.org/wiki/File:Disney1968.jpg',
 'https://en.wikipedia.org/wiki/File:Disney_Oscar_1953_(cropped).jpg',
 'https://en.wikipedia.org/wiki/File:Disneyland_Resort_logo.svg',
 'https://en.wikipedia.org/wiki/File:Animation_disc.svg',
 'https://en.wikipedia.org/wiki/File:Magic_Kingdom_castle.jpg',
 'https://en.wikipedia.org/wiki/File:Blank_television_set.svg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [444]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [445]:
#your code
driver.get(url)
time.sleep(2)

In [446]:
from selenium.webdriver import ActionChains as AC

In [447]:
driver.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/ul[1]/li[2]/a').click()

In [448]:
mito = driver.find_elements(By.TAG_NAME, 'a')

myth = []

for m in mito:
    myth.append(m.get_attribute('href'))

myth[:3]

['https://en.wikipedia.org/wiki/Python_(mythology)#bodyContent',
 'https://en.wikipedia.org/wiki/Main_Page',
 'https://en.wikipedia.org/wiki/Wikipedia:Contents']

#### Number of Titles that have changed in the United States Code since its last release point

In [449]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [450]:

driver.get(url)
time.sleep(2)

In [451]:
titulos = driver.find_elements(By.CLASS_NAME, 'usctitlechanged')

titu = []

for t in titulos:
    titu.append(t.text)

#estoy cogiendo solo los que se han cambiado

len(titu)

37

#### A Python list with the top ten FBI's Most Wanted names

In [452]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [453]:
#your code 
driver.get(url)
time.sleep(2)

In [454]:
tabla = driver.find_element(By.CSS_SELECTOR, '#main-content > div > div:nth-child(2) > div')
fbi = tabla.find_elements(By.CLASS_NAME, 'title')

criminal = []

for f in fbi:
    criminal.append(f.text)

#mal porque me pilla también el MOST WANTED 

criminal

['BHADRESHKUMAR CHETANBHAI PATEL',
 'WILVER VILLEGAS-PALOMINO',
 'ALEJANDRO ROSALES CASTILLO',
 'RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'YULAN ADONAY ARCHAGA CARIAS',
 'MICHAEL JAMES PRATT',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [455]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [456]:
driver.get(url)
time.sleep(2)

In [486]:
tabla_terremoto = driver.find_element(By.CSS_SELECTOR, '#tbody')

filas = tabla_terremoto.find_elements(By.TAG_NAME, 'tr')

date = []
latitude = []
longitude = []
region = []

for f in filas:
    date.append(f.find_element(By.CLASS_NAME, 'tabev6').text.split('\n')[:-1])
    latitude.append(str(f.find_elements(By.CLASS_NAME, 'tabev1')[0].text+' '+f.find_elements(By.CLASS_NAME, 'tabev2')[0].text ))
    longitude.append(str(f.find_elements(By.CLASS_NAME, 'tabev1')[1].text+' '+f.find_elements(By.CLASS_NAME, 'tabev2')[1].text ))
    region.append(f.find_element(By.CLASS_NAME, 'tb_region').text)

In [488]:
resultado = pd.DataFrame()

resultado['Date & Time']=date
resultado['Latitude']=latitude
resultado['Longitude']=longitude
resultado['Region']=region

In [491]:
resultado.head(20)

,Date & Time,Latitude,Longitude,Region
0,[2023-05-03 15:01:25.2],37.17 N,36.90 E,CENTRAL TURKEY
1,[2023-05-03 14:42:53.4],38.46 N,39.30 E,EASTERN TURKEY
2,[2023-05-03 14:40:39.1],38.32 N,37.76 E,CENTRAL TURKEY
3,[2023-05-03 14:36:02.2],38.31 N,37.14 E,CENTRAL TURKEY
4,[2023-05-03 14:34:12.0],14.90 N,93.08 W,"OFFSHORE CHIAPAS, MEXICO"
5,[2023-05-03 14:05:52.3],37.97 N,36.32 E,CENTRAL TURKEY
6,[2023-05-03 14:00:45.9],38.31 N,37.74 E,CENTRAL TURKEY
7,[2023-05-03 13:54:38.0],6.77 S,106.67 E,"JAVA, INDONESIA"
8,[2023-05-03 13:42:23.0],17.73 N,102.11 W,"OFFSHORE GUERRERO, MEXICO"
9,[2023-05-03 13:17:37.4],35.56 S,179.43 E,"OFF E. COAST OF N. ISLAND, N.Z."
10,[2023-05-03 12:40:25.4],39.37 N,26.24 E,NEAR THE COAST OF WESTERN TURKEY
11,[2023-05-03 12:39:28.0],28.07 N,111.61 W,GULF OF CALIFORNIA
12,[2023-05-03 12:38:30.0],30.46 S,65.99 W,"LA RIOJA, ARGENTINA"
13,[2023-05-03 12:32:11.0],33.00 S,72.13 W,"OFFSHORE VALPARAISO, CHILE"
14,[2023-05-03 12:27:43.0],33.02 S,72.15 W,"OFFSHORE VALPARAISO, CHILE"
15,[2023-05-03 12:07:50.3],17.99 N,66.85 W,PUERTO RICO
16,[2023-05-03 12:05:35.9],26.98 N,143.80 E,"BONIN ISLANDS, JAPAN REGION"
17,[2023-05-03 11:55:48.4],38.49 N,36.61 E,CENTRAL TURKEY
18,[2023-05-03 11:49:55.9],38.22 N,38.42 E,EASTERN TURKEY
19,[2023-05-03 11:43:37.4],35.88 N,117.72 W,CENTRAL CALIFORNIA

#### Count number of tweets by a given Twitter account.

You will need to include a *try/except block* for account names not found.
*Hint:* the program should count the number of tweets for any provided account

In [494]:
url = 'https://twitter.com/salomondrin'

In [495]:
driver.get(url)
time.sleep(2)

In [497]:
count = driver.find_element(By.XPATH, '//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div/div/div[1]/div[1]/div/div/div/div/div/div[2]/div/div')

count.text

'31,2 mil Tweets'

#### Number of followers of a given twitter account

You will need to include a *try/except block* in case account/s name not found.
*Hint:* the program should count the followers for any provided account

In [498]:
url = 'https://twitter.com/salomondrin'

driver.get(url)
time.sleep(2)

In [501]:
numb = driver.find_element(By.XPATH, '//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div/div/div[3]/div/div/div/div/div[5]/div[2]/a/span[1]/span')

numb.text

'311,8 mil'

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [ ]:
#your code 
driver.get(url)
time.sleep(2)

In [ ]:
tabla = driver.find_element(By.CSS_SELECTOR, 'div.central-featured')
langu = tabla.find_elements(By.TAG_NAME, 'strong')

lang = []

for l in langu:
    lang.append(l.text)

lang

['Español',
 'English',
 'Русский',
 '日本語',
 'Deutsch',
 'Français',
 'Italiano',
 '中文',
 'فارسی',
 'Português']

#### A list with the different kind of datasets available in data.gov.uk

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [ ]:
#your code 
driver.get(url)
time.sleep(2)

In [ ]:
opend = driver.find_element(By.CSS_SELECTOR, '#main-content')

data = opend.find_elements(By.CLASS_NAME, 'govuk-link')

ds = []

for d in data:
    ds.append(d.text)

ds

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [503]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [504]:
#your code
driver.get(url)
time.sleep(2)

In [505]:
top = driver.find_element(By.CSS_SELECTOR, '#mw-content-text > div.mw-parser-output > table.wikitable.sortable.static-row-numbers.jquery-tablesorter')

#empiezo sacando cada columna

la = [l.text for l in top.find_elements(By.CLASS_NAME, 'mw-redirect')][:10]

#no puedo sacar el número

#nat = [n.text for n in top.find_elements(By.TAB_NAME, 'td')]

In [592]:
logue = driver.find_element(By.CSS_SELECTOR, '#mw-content-text > div.mw-parser-output > table.wikitable.sortable.static-row-numbers.jquery-tablesorter > tbody')
filas = logue.find_elements(By.TAG_NAME, 'tr')

language = []
number = []

for f in filas:
    language.append(f.find_element(By.CLASS_NAME, 'mw-redirect').text)
    number.append(f.find_elements(By.TAG_NAME, 'td')[1].text)

In [593]:
resultado = pd.DataFrame()

resultado['Language']=language

resultado['Number']=number

resultado

                  Language Number
0         Mandarin Chinese    939
1                  Spanish    485
2                  English    380
3                    Hindi    345
4               Portuguese    236
5                  Bengali    234
6                  Russian    147
7                 Japanese    123
8              Yue Chinese   86.1
9               Vietnamese   85.0
10                 Turkish   84.0
11              Wu Chinese   83.4
12                 Marathi   83.2
13                  Telugu   83.0
14                  Korean   81.7
15                  French   80.8
16                   Tamil   78.6
17  Egyptian Spoken Arabic   77.4
18         Standard German   75.3
19                    Urdu   70.6
20                Javanese   68.3
21         Western Punjabi   66.7
22                 Italian   64.6
23                Gujarati   57.1
24         Iranian Persian   57.2
25                Bhojpuri   52.3
26                   Hausa   51.7

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [594]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [595]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [596]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [597]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [598]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [599]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [600]:
#https://openweathermap.org/current
#city = city=input('Enter the city:')
#url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [601]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [602]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [603]:
#your code